.logpaciente{
}

.container {
    position:absolute;
    padding: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(119, 119, 119);
}

.containerSecundario{
  
  text-align: center;
  align-items: center;
}

.titulo{
  color: azure;
  font-size:  35px;
  text-align: left;
  font-weight: bold;
}

.btn{
  position:relative;
  background-color:azure;
  border-color:white;
  color: black;
  font-weight: bold;
  
}

