.containerPrincipal {
  position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4%;
    border: 1px solid blue;
    padding: 80px;
    background-color: white;
}

.containerSecundario{
  text-align: center;
}

.titulo{
  font-size:  35px;
  text-align: left;
  font-weight: bold;

}
